/*-- scss:defaults --*/

// Sass Variables
// https://quarto.org/docs/output-formats/html-themes.html#sass-variables

/* Colors */
$body-bg: #ffffff;
$body-color: rgb(55, 58, 60);
$link-color: rgb(39, 128, 227);

/* Fonts */
$font-family-sans-serif:
  "Source Sans Pro",
  -apple-system,
  "system-ui",
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-size-root: 17px;

/*-- scss:rules --*/

.color-bullets {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.color-bullets li {
  display: flex;
  gap: 0.6em;
}

.color-bullets li::before {
  content: "";
  width: 0.55em;
  height: 0.55em;
  margin-top: 0.35em; /* tweak if needed */
  flex: 0 0 0.55em;
}

.color-bullets li.b-red::before {
  background: red;
}
.color-bullets li.b-blue::before {
  background: blue;
}
.color-bullets li.b-green::before {
  background: green;
}