{{- partial "meta_indexing/highwire/authors" . -}}
{{- partial "meta_indexing/highwire/title" . -}}
{{- partial "meta_indexing/dublin_core/editors" . -}}
{{- partial "meta_indexing/highwire/conference_editors" . -}}
{{- partial "meta_indexing/highwire/conference_title" . -}}
{{- partial "meta_indexing/highwire/inbook_title" . -}}
{{- partial "meta_indexing/highwire/publisher" . -}}
{{- partial "meta_indexing/highwire/pub_place" . -}}
{{- partial "meta_indexing/highwire/pages" . -}}
{{- partial "meta_indexing/highwire/date" . -}}
{{- partial "meta_indexing/highwire/doi" . -}}
{{- partial "meta_indexing/highwire/url" . -}}
{{- partial "meta_indexing/highwire/isbn" . -}}
{{- partial "meta_indexing/highwire/pdf" . -}}
{{- partial "meta_indexing/highwire/abstract" . -}}
